.slotContainer {
  position: relative;
  padding: 0;
  margin: 0;
  // border: 1px solid #dbdbdb;
  // border-radius: 8px;
  text-align: left;

  .title {
    cursor: pointer;
    text-align: left;
    font-size: 20px;
    font-weight: 900;
  }

  .slotSubmit {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .type {
    color: #4b4b4b;
  }


  &.slot {

    .dropdownMenu {
      position: absolute;
      top: -1.5rem;
      right: 0;

      button:focus:not(:focus-visible) {
        outline: 0;
        border: 0;
        color: #743bcf;
      }

      ul {
        right: 0px !important;
        transform: translateX(0%) !important;
        top: 36px !important;
      }

      & :global(.edit) {
        color: #4b4b4b;
      }

      & :global(.delete) {
        color: rgb(227, 8, 8);
      }
    }
  }
}

ul {
  position: relative;
  padding-bottom: 0;
  cursor: pointer;
  display: grid;
  padding-left: 0;
  list-style-type: none;
  width: 100%;
  margin: 10px 0;
}

[data-open="open"] {


  hr {
    &::before {
      content: "";
      position: absolute;
      top: 0.2rem;
      width: 10px;
      height: 15px;
      opacity: 1;
      right: 20px;
      transform: rotate(-90deg);
      display: block;
      z-index: 130;
      background: url(../../images/Control.svg) no-repeat;
      transition: all .3s;
    }
  }

  .SlotValueItemBlock {
   
    display: flex;
    flex-wrap: wrap;
    border-radius: .5rem;
    background-color: #ffffff;

    &::after {
      content: '';
      flex: auto;
    }

    .labelBlock {
      width: 100%;
      display: flex;
      justify-content: space-between;
      word-break: keep-all;
      flex-wrap: wrap;
      padding: 0 5px;
    }
  }
}

[data-open="none"] {

  hr {
    opacity: .5;
    overflow: initial;

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      width: 15px;
      height: 15px;
      opacity: 1;
      right: 20px;
      transform: rotate(90deg);
      display: block;
      z-index: 130;
      background: url(../../images/Control.svg) no-repeat;
      transition: all .3s;
    }
  }

  .SlotValueItemBlock {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;

    &::after {
      content: '';
      flex: auto;
    }

    .labelBlock {
      display: none !important;
    }

  }
}

.setInput {
  resize: none;
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  padding: 20px 10px;
}