// 側邊左工具列
.sideBar {
  background: #697ef1;
  color: #fff;
  width: 4.5rem;
}

// 側邊右工具列
.searchBar {
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  width: 20rem;
  display: block;

  >div {
    height: 100%;
  }

  input {
    width: 100%;
  }

  // 標題區塊
  .titleBlock {
    width: 100%;
    background: #E7E7E7;
    color: #A6A6A6;
    text-align: center;
    .searchTitle {
      margin: 0;
      padding: 1.2rem 0;
      cursor: pointer;
      width: 50%;
      font-weight: 600;

      &:hover {
        background: #fff;
        color: #697ef1;
      }

      &[data-open="open"] {
        background: #f6f6f6;
        color: #697ef1;
      }
    }
  }

  // menu按鈕
  .menuBtnBlock {
    padding: 1rem;
    display: block;
    width: 100%;
    line-height: 1.5;
    color: #212529;
    text-align: center;
  }

  // 清單區塊
  .listBlock {
    padding: 1rem;
    width: 100%;
    height: calc(100vh - 9.645rem);

    .storoesBlock {
      width: 100%;
      height: 100%;
      overflow: hidden;
      div {
        overflow-y: scroll;
        width: calc(100% + 1.1rem);
        height: 100%;

        .listmenu {
          padding-bottom: 0;
          cursor: pointer;
          display: grid;
          padding-left: 0;
          list-style-type: none;
          width: 100%;
          margin: 10px 0;

          hr {
            position: relative;
            opacity: .5;
            overflow: initial;

            &::before {
              content: "";
              position: absolute;
              top: -2rem;
              width: 15px;
              height: 15px;
              opacity: 1;
              right: 20px;
              transform: rotate(90deg);
              display: block;
              z-index: 130;
              background: url(../../images/Control.svg) no-repeat;
              transition: all .3s;
            }
          }

          button {
            background: #fff;
            border: none;
            text-align: left;
            width: calc(100% - 15px);
            border-radius: 5px;
            padding: 10px;
            pointer-events: none;


            &[data-check="check"] {
              background: #e0e0e0;
            }

            &:hover {

              background: #e0e0e0;
            }
          }

          li {
            transition: all .3s;
            opacity: 0;
            height: 0;

          }

          &[data-open="noopen"] {
            li {
              transition: all .3s;
              opacity: 0;
              height: 0;
            }
          }

          &[data-open="open"] {
            hr {
              &::before {
                content: "";
                position: absolute;
                top: -2rem;
                width: 10px;
                height: 15px;
                opacity: 1;
                right: 20px;
                transform: rotate(-90deg);
                display: block;
                z-index: 130;
                background: url(../../images/Control.svg) no-repeat;
                transition: all .3s;
              }
            }

            li {
              transition: all .3s;
              opacity: 1;
              height: auto;
              margin: 5px 0;

              button {
                pointer-events: all;
              }
            }
          }
        }

      }
    }


  }
  .hidden{
    display: none;
  }
}


.recordBtn {
  width: 100%;
  display: block;
}

.recoverBtn {
  width: 100%;
  padding: 0 !important;
  display: block;
  margin: 10px 0 0 0;
}


.senderId {
  display: inline-flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .btn {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .listBtn {
    display: block;
    width: 100%;
  }
}



.menuInputBlock {
  display: block;
  width: 100%;
  text-align: center;
  place-items: self-end;

  select {
    display: none;
  }

  div {
    margin: 10px 0 0 0;
  }
}

.storiesSelector {

  border: 1px solid #ccc;
  font-size: 16px;
  margin: 10px 0;
  vertical-align: middle;
  background: #f9f9f9;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;

  option {
    width: 100%;
    -webkit-appearance: none;
  }

  .categoryDisabled {
    font-weight: 900;
    font-size: 16px;
    background: #ccc;
  }
}

.center {
  margin: 0 auto;
}





@media (max-width: 960px) {
  .searchBar {
    width: 100%;
    // padding: 10px 0;
    div{
      flex-direction: column;
      .sideBar {
          background: #697ef1;
          color: #fff;
          width: 100%;
        }
        .titleBlock{
            flex-direction: row;
        }
    }
  }

  .senderId {
    flex-direction: column;
    word-break: keep-all;

    .btn {
      margin: 0;
      width: auto;
    }

    button {
      display: inline;
      width: auto;
      margin: 0 5px 0 5px;
    }
  }

  .menuInputBlock {
    display: inline-flex;
    margin: 10px;
    align-items: self-end;

    select {
      display: block;
      margin: 0 10px 0 0;
    }
  }

  .menuBtnBlock {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .listBlock {
    display: none;
  }
}

.swtOut {
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}

.swetClose {
  position: absolute;
  top: 0;
  right: 0;
}