.recordBtn {
  width: 100%;
  display: block;
}

.recoverBtn {
  width: 100%;
  padding: 0 !important;
  display: block;
  margin: 10px 0 0 0;
}

.searchTitle {
  font-weight: 900;
}

.senderId {
  display: inline-flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .btn {
    display: block;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .listBtn {
    display: block;
    width: 100%;
  }
}

.menuBtnBlock {
  display: block;
  width: 100%;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}

.menuInputBlock {
  display: block;
  width: 100%;
  text-align: center;
  place-items: self-end;

  select {
    display: none;
  }

  div {
    margin: 10px 0 0 0;
  }
}

.storiesSelector {
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 10px 0;
  vertical-align: middle;
  background: #f9f9f9;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

.center {
  margin: 0 auto;
}

.searchBar {
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 300px;
  display: block;

  >div {
    height: 100%;
  }

  input {
    width: 100%;
  }
}

.listBlock {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 127px);

  .listmenu {
    padding-bottom: 0;
    cursor: pointer;
    display: grid;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
    margin: 10px 0;

    hr {
      margin-top: 0;
    }

    button {
      background: #fff;
      border: none;
      text-align: left;
      width: 100%;
      border-radius: 5px;
      padding: 10px;
      pointer-events: none;

      &[data-check="check"] {
        background: #e0e0e0;
      }

      &:hover {

        background: #e0e0e0;
      }
    }

    li {
      transition: all .3s;
      opacity: 0;
      height: 0;

    }

    &[data-open="noopen"] {
      li {
        transition: all .3s;
        opacity: 0;
        height: 0;
      }
    }

    &[data-open="open"] {
      li {
        transition: all .3s;
        opacity: 1;
        height: auto;

        button {
          pointer-events: all;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .searchBar {
    width: 100%;
    padding: 10px;
  }

  .senderId {
    flex-direction: column;
    word-break: keep-all;

    .btn {
      margin: 0;
      width: auto;
    }

    button {
      display: inline;
      width: auto;
      margin: 0 5px 0 5px;
    }
  }

  .menuInputBlock {
    display: inline-flex;
    margin: 10px;
    align-items: self-end;

    select {
      display: block;
      margin: 0 10px 0 0;
    }
  }

  .menuBtnBlock {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .listBlock {
    display: none;
  }
}

.swtOut {
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #fff;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}

.swetClose {
  position: absolute;
  top: 0;
  right: 0;
}