.botStepContainer {
  // border-radius: 20px;
  // padding: 1rem;
  // border: 1px solid #B7B7B7;
  // background: #fff;

  .botTitle {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    word-break: keep-all;
    color: rgb(0, 0, 0);
  }

  .botResponse {
    background: #52536D;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
    border: none;
    cursor: text;
    resize: none;
    outline: none;
  }
}

.info {
  border: 1px solid #b7b7b7;
  border-radius: 10px;
  padding: 1rem;
  background: #fff;
}

.deleteBtn {
  float: right;
}

//editBtn
.editBtn {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #b7b7b7 !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: #e14d2a !important;
    color: #fff !important;
    fill: #fff !important;
    border: 1px solid #e14d2a !important;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    display: inherit;
  }
}

//addBtn
.addBtn {
  background-color: #fff !important;
  color: #54C1FB !important;
  border: none;
  display: inline-flex !important;
  text-align: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;

  // &:hover {
  //   background: #fd841f !important;
  //   color: #fff !important;
  //   border: 1px solid #fd841f !important;

  //   svg {
  //     path {
  //       fill: #fff;
  //     }
  //   }
  // }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: #54C1FB;
    }

    display: inherit;
    margin: 0 10px 0 0;
  }
}

.botStep {
  border-radius: 10px;
  // padding: 1rem;
  // border: 1px solid #b7b7b7;
  background: #fff;
}

.botlabel {
  background: #5f79a0;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  max-width: calc(100% - 129px);
}

.keepAll {
  word-break: keep-all;
}