.root {

    --color-primary: #6B7A8F;
    --color-secondary: #101118;
    --color-accent: #1D1F2F;
    --color-focus: #6D64F7;
    --base-duration: 600ms;
    --base-ease: cubic-bezier(0.25, 0.46, 0.45, 0.84);
    // =========================
    // Global
    // =========================


}

*,
*:before,
*:after {
    box-sizing: border-box;
}




// =========================
// Icons
// =========================

.icon {
    fill: var(--color-primary);
    width: 100%;
}


// =========================
// Buttons
// =========================

.btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.125rem;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 1rem 2.5rem 1.125rem;

    &:focus {
        outline-color: var(--color-focus);
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 3px;
    }

    &:active {
        transform: translateY(1px);
    }
}
