.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    height: 100%;
    width: 100%;
    transition: all .3s;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        background: #00000029;
    }
    .creactStoryBlock{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        justify-content: center;
    }
}

.creactStoryBorder {
    max-height: 37rem;
    overflow: hidden;
    transition: all .3s;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    min-width: 50rem;
    justify-content: center;
    position: relative;
    background: #FAFAFC;

    .creactStoryCloseBtn {
        padding: 0 1rem;
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        border: none;

        button {
            border: none;
            color: #fff;
            font-size: 1.5rem;
            padding: 0;
            background: rgba(0, 0, 0, 0);
        }
    }

    .creactStoryStep {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: row;
        background: #52536D;
        color: #fff;
        min-width: 45rem;

        .item {
            margin-left: 1rem;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            h6 {
                padding: 0;
                margin: 0;
            }

            .itemIcon {
                width: 3.3rem;
                height: 10px;
                display: inline-flex;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    left: 50%;
                    width: 1.3rem;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 1.3rem;
                    display: block;
                    border: 2px solid #ffffff;
                    border-radius: 99px;
                }

                &:before {
                    position: absolute;
                    content: "";
                    width: 0.8rem;
                    height: 0.8rem;
                    display: block;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    /* background: #ffffff; */
                    border: 2px solid #ffffff;
                    border-radius: 99px;

                }

            }

            &.active {
                h6 {
                    padding: 0;
                    margin: 0;
                    color: #54C1FB;
                }

                .itemIcon {
                    &:after {
                        position: absolute;
                        content: "";
                        left: 50%;
                        width: 1.3rem;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        height: 1.3rem;
                        display: block;
                        border: 2px solid #54C1FB;
                        border-radius: 99px;
                    }


                    &:before {
                        position: absolute;
                        content: "";
                        width: .8rem;
                        height: .8rem;
                        display: block;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        background: #54C1FB;
                        border: 1px solid #54C1FB;
                        border-radius: 99px;

                    }
                }
            }
        }
    }

    .creactStoryTitle {

        padding: 1rem 2.5rem;
        color: #697ef1;

        h3 {
            margin: 0;
            padding: 0;
            font-weight: 900;
        }
    }

    .creactStoryFunction {
        padding: 1rem 2.5rem;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #dfdfdf;
            border-radius: 10px;
        }

        &::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #acacac;
            border-radius: 10px;

        }
    }

    .creactStoryFunctionBtn {
        padding: 1rem 2.5rem;
        text-align: right;
        display: flex;
        justify-content: space-between;
        position: relative;

        .creactStoryFunctionBtnFinish {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .prevstepBtn {
        border: none;
        background: #fff;
        color: #acacac;

        &:hover {
            color: #6D71F9;
        }
    }

    .stepBtn {
        border: 1px solid #6D71F9;
        color: #6D71F9;
        padding: 5px 10px;
        border-radius: 5px;
        background: #fff;

        &:hover {
            color: #fff;
            background: #6D71F9;
        }
    }

    .storyInputBlock {
        padding-bottom: 1rem;

        label {
            margin-bottom: .5rem;
        }
    }

    .moreBtn {
        width: 100%;
        text-align: center;
        color: #54C1FB;
        border: none;
        background: #fff;

    }

    .error {
        input {
            border: 1px solid #EE6634;
        }

        .errorMsg {
            color: #EE6634;
            display: flex;
            flex-direction: row;
            align-items: center;

            &::before {
                content: '';
                background: url(../../images/creactStory/bi_exclamation-circle-fill.png) no-repeat;
                display: inline-flex;
                width: 1.5rem;
                height: 1.5rem;

            }
        }
    }

    .textarea {
        resize: none;
    }

    img {
        width: 100%;
    }
}

.formStyle {
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.4rem 0.4rem;
    border: 1px solid #d1d1d1;
    cursor: pointer;

    &:focus {
        border: 1px solid #d1d1d1;
        outline: none;
    }
}