.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .container {
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 3rem;
    border-radius: 10px;

    .versionInfo {
      padding-top: 2rem;
      text-align: left;
    }

    .Button {
      max-width: 300px;
      margin: 40px auto 0 auto;

      div {
        padding: 10px 20px;
        background: linear-gradient(270deg, #5D70DD -1.72%, #516AFF 54.66%, #3419DD 113.59%);
        color: #fff;
        border-radius: 5px;
        border: none;
      }
    }

  }

  .sButtonBlock {
    position: absolute;
    bottom: 3rem;

    .sButton {
      color: #fff;
      cursor: pointer;
      position: relative;
      font-size: 1rem;
      text-shadow: 2px 2px 2px #000000;
    }

    .sButton::after {
      content: "";
      position: absolute;
      right: -35px;
      display: inline-block;
      margin: 0 0 0 10px;
      height: 25px;
      width: 22px;
      border-radius: 30px;
      box-shadow: 0px 2px 5px 0.1px #00000088;
      background: url(../../images/downBtn.png) no-repeat center;
    }
  }

  .videoBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.548);
    z-index: 99999;

    .Carousel {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      overflow-x: hidden;
      width: 100%;
    }
  }

  [data-videoblock="open"] {
    opacity: 1;
    transition: all .3;
  }

  [data-videoblock="none"] {
    opacity: 0;
    pointer-events: none;
    transition: all .3;
    [data-dis="none"]{
      display: none;
    }
  }
}