.root {

    &:nth-child(even) {
      background: #e8ebff;
      text-align: center;
    }
     &:nth-child(odd) {
       background: #fff;
       text-align: center;
     }

  .tbltd {
    padding: 10px;


  }
}