.userStepContainer {
  border: 1px solid #B7B7B7;
  border-radius: 20px;
  padding: 1rem;
  background: #ECECEC;

  .userTitle {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
  }

  .userText {
    border-radius: 10px;
    padding: 10px;
    max-width: 50%;
    width: fit-content;
    background-color: cadetblue;
    color: #fff;
  }

  .entitiesContainer {
    display: flex;
    flex-direction: column;
    padding-top: 2px;

    &>div:not(:nth-of-type(1))+div:not(:nth-of-type(2)) {
      margin-top: 1rem;
    }
  }
}

.customSwel2 {
  width: 80%;
  height: 100%;
}

.addSlotValueSelect {
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    font-size: 1.5rem;
  }
}

.removeSlotValueIcon {
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: red;
  }

}

.keywordBtn {
  color: #fff!important;
  background: #566def!important;
  border: #566def !important;
}