.userStepContainer {
  position: relative;
  border: 1px solid #B7B7B7;
  border-radius: 10px;
  padding: 1rem;
  background: #fff;

  .userTitle {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
  }

  .userText {
    border-radius: 10px;
    padding: 10px;
    max-width: 50%;
    width: fit-content;
    background-color: rgb(95, 121, 160);
    color: #fff;
  }

  .entitiesContainer {
    display: flex;
    flex-direction: column;
    padding-top: 2px;

    &>div:not(:nth-of-type(1))+div:not(:nth-of-type(2)) {
      margin-top: 1rem;
    }
  }
}

.customSwel2 {
  width: 80%;
  height: 100%;
}

.addSlotValueSelect {
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    font-size: 1.5rem;
  }
}

.removeSlotValueIcon {
  font-size: 1.5rem;
  cursor: pointer;

  &:hover {
    color: red;
  }

}


.deleteBtn {
  position: absolute;
  top: 1.5rem;
  right: 15px;
  float: right;
}

//editBtn
.editBtn {
  background: #fff !important;
  color: #000 !important;
  border: 1px solid #B7B7B7 !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: #E14D2A !important;
    color: #fff !important;
    fill: #fff !important;
    border: 1px solid #E14D2A !important;

    svg {
      path {
        fill: #fff;
      }
    }


  }

  svg {
    width: 20px;
    height: 20px;
    display: inherit;
    margin: 0 10px 0 0;
  }
}



//intentionBtn
.intentionBtn {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #B7B7B7 !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: #FD841F !important;
    color: #fff !important;
    border: 1px solid #FD841F !important;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    display: inherit;
    margin: 0 10px 0 0;
  }
}

//exampleBtn
.exampleBtn {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #B7B7B7 !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;

  &:hover {
    background: #3E6D9C !important;
    color: #fff !important;
    border: 1px solid #3E6D9C !important;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    display: inherit;
    margin: 0 10px 0 0;
  }
}

//keyWordBtn
.keyWordBtn {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #B7B7B7 !important;
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;


  &:hover {
    background: #001253 !important;
    color: #fff !important;
    border: 1px solid #001253 !important;

    svg {
      path {
        fill: #fff;
      }
    }
  }

  svg {
    width: 20px;
    height: 20px;
    display: inherit;
    margin: 0 10px 0 0;
  }
}

.mr2 {
  margin-right: 0.5rem;
}

.mt2 {
  margin-top: 0.5rem;
}

.keyWordBtnMr {
  margin-right: 62px;
}

table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.tblHead {
  background: #586eed;
  color: #ffffff;
  height: 45px;
  text-align: center;
  font-size: 15px;
}