.confirmButton {
  color: #fff;
  background-color: #7377fa;
  &:hover {
    color: #fff;
    background-color: #676be1;
  }
}

.cancelButton {
  color: #9393a3;
  background-color: #fff;
  border: 1px solid #d4d4da;
  &:hover {
    color: #9393a3;
    background-color: #f4f4f6;
  }
}

.showPop {
  box-shadow: 0px 2px 4px #d4d4da;
}
