.root {
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  background: #0d6efd;
  outline: none;
  width: 100%;
  color: #fff;
  border-radius: 5px;
}

.root:hover {
  background-color: #876dfc;
}

.root[data-rounded='true'] {
  border-radius: 20px !important;
}

.root[data-variant='primary'] {
  color: #fff;
  background: linear-gradient(270deg, #5D70DD -1.72%, #516AFF 54.66%, #3419DD 113.59%);

}

.root[data-variant='primary']:hover {
  color: #fff;
    background: linear-gradient(270deg, #414e9b -1.72%, #242f70 54.66%, #25129e 113.59%);
}

.root[data-variant='secondary'] {
  color: #fff;
  background: #c4c4c4;
}

.root[data-variant='secondary']:hover {
  color: #fff;
  background: #949393;
}

.root[data-variant='third'] {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.root[data-variant='third']:hover {
  color: #fff;
  background-color: #ed9d2b;
  border-color: #ec971f;
}

.root[data-variant='nostyle'] {
  background: #e0e0e0;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 16px;
  background: none;
  outline: none;
  width: 0;
  color: #fff;
  border-radius: 0;
}

.root[data-variant='nostyle']:hover {
  background: #e0e0e0;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 16px;
  background: none;
  outline: none;
  width: 0;
  border-radius: 0;
}
