.register {
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  min-height: 320px;
  background: #1F1F1F;

  .title {
    font-weight: 700;
    font-size: 40px;
    margin: 0 0 0px 0;
    padding: 0;
  }

  .registerBlock {
    display: flex;
    flex-direction: row;

    .registerBg {
      background: url(../../images/robot.jpg) no-repeat center;
      width: 450px;
      position: relative;
      border-radius: 11px 0 0 11px;

      .title {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }


    }

    .registerContainer {
      background: #fff;
      margin: 0 auto;
      display: block;
      max-width: 450px;
      padding: 30px 50px 30px 50px;
      text-align: center;
      box-shadow: 0px 5px 9px 4px rgb(68 68 68 / 27%);
      border-radius: 0 11px 11px 0;
      overflow: hidden;

      .title {
        color: #3551F5;
      }
    }

    .inputBlock {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      text-align: left;

      .textRed {
        color: red;
      }
    }

    .account {
      display: inline-flex;
      word-break: keep-all;
      margin: 0 auto;
      align-items: center;
      color: rgba(122, 122, 122, 0.8);

      button {
        width: 0;
        background: linear-gradient(270deg, #5D70DD -1.72%, #516AFF 54.66%, #3419DD 113.59%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        &:hover {
          width: 0;
          outline: none;
          border: none;
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .registerBlock {
      .registerBg {
        display: none;
      }

      .registerContainer {
        border-radius: 11px 11px 11px 11px;
      }
    }

  }
}