.root {
  // transform: translate(-50%, -50%);
  backdrop-filter: blur(20px);
  display: block;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  width: 100%;
  height: 100% ;

  .title {
    color: #000000;
    font-weight: bold;
    font-size: 1.8rem;
  }

  .stepsPanel {
    padding: 15px;
    overflow-y: scroll;
    height: 90%;
  }
}