.root {
  // transform: translate(-50%, -50%);
    background: #fff;
      display: block;
      padding: 20px;
      margin: 15px;
      box-sizing: border-box;
      box-shadow: 0px 3px 4px 3px rgb(162 162 162);
      border-radius: 3px;
      height: 350px;
  .title {
    font-weight: bold;
  }
  .stepsPanel {
    padding-top: 10px;
    overflow-y: scroll;
    height: 250px;
  }
}
