body {
  font-family: 'Poiret', 'Poiret Ie', 微軟正黑體;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #ffffff00; */
  height: 100%;
  min-height: 100%;
  background: #ECECEC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}