.root {
  backdrop-filter: blur(20px);
  display: block;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #fff;
  .title {
    font-weight: bold;
    font-size: 1.8rem;
    color: #000;
  }
  .stepsPanel {
    padding: 15px;
    overflow-y: scroll;
    height: 70%;
  }
}

@media (min-width: 1400px) {
  .root {
    .stepsPanel {
      height: 80%;
    }
  }
}
