.root {
  backdrop-filter: blur(20px);
  display: block;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #ECECEC;

  .title {
    font-weight: bold;
    font-size: 1.8rem;
    color: #000;
  }

  .stepsPanel {
    padding: 15px;
    // position: relative;
    overflow-y: scroll;
    height: calc(100% - 159px);
    background-color: #ECECEC;
  }
}

// @media (min-width: 1400px) {
//   .root {

//     .stepsPanel {
//     height:calc(100% - 225px);
//     }
//   }
// }

@media (max-width: 960px) {
  .root {
    height: calc(100% - 197px);

  }
}