.title {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.inputFocus {
  margin-left: 2px;
  animation: animate 1s linear infinite;
}
.alertBlock{
 
  position: absolute;
  bottom: 100px;
  left: 40px;
  text-align: left;
  display: block!important;
  width: 100%;
  box-sizing: border-box;
  word-break: keep-all;

}
@keyframes animate {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.2;
  }
}
